/ http://www.techdarkside.com/adding-drag-and-drop-file-uploads-to-rails-3-1-with-filedrop-and-paperclip
= form_tag '/uploads', multipart: true, id: :dropzone, class: :row do
  = file_field_tag :upload 
  .col-sm-12
    .row
      .col-sm-8
        %h4
          %strong Upload files by dragging them onto the window
      .col-sm-4
        .progress.progress-success.progress-striped.active
          .bar{style: "width:10%;"}
        / The loading indicator is shown during image processing
        .fileupload-loading
    .row
      .col-sm-4
        .assets#image-assets
          %h4
            %i.fa.fa-picture-o
            Image Assets
          %ul
            -@campaign.images.each do |image|
              %li
                =link_to image.file.url, {class: :fancybox, data: {thumb: image.file.url(:thumb)}} do
                  =strip_query(File.basename image.file.url)
                %i.fa.fa-times-circle
      .col-sm-4
        .assets#markup-assets
          %h4
            %i.fa.fa-code
            Markup Assets
          %ul
            -@campaign.markups.each do |markup|
              %li
                =link_to review_code_compiler_index_path({file: strip_query(markup.file.url)}), {class: 'fancybox-ajax'} do
                  =strip_query(File.basename markup.file.url)
      .col-sm-4
        .assets#style-assets
          %h4
            %i.fa.fa-leaf
            Style Assets
          %ul
            -@campaign.stylesheets.each do |stylesheet|
              %li
                =link_to review_code_compiler_index_path({file: strip_query(stylesheet.file.url)}), {class: 'fancybox-ajax'} do
                  =strip_query(File.basename stylesheet.file.url)
.row
  .col-sm-12
    %h3 Output

.row
  .col-sm-6=raw @shl_rendered_html
  .col-sm-6=raw @rendered_html

/ %hr

/ .row
/   .col-sm-12
/     %h3 Input Markup
/     .row
/       .col-sm-5=raw @shl_input_markup_raw
/       %i.fa.fa-5x.fa-chevron-circle-right.col-sm-2.c-mid
/       .col-sm-5=raw @shl_input_markup_to_html
/     %h3 Input Styles
/     .row
/       .col-sm-5=raw @shl_input_styles_raw
/       %i.fa.fa-5x.fa-chevron-circle-right.col-sm-2.c-mid
/       .col-sm-5=raw @shl_input_styles_to_css
