.row
  .col-sm-12
    %h3 Output

.row
  .col-sm-6=raw @output_markup_colored
  .col-sm-6=raw @output_markup

%hr

.row
  .col-sm-12
    %h3 Input Markup
    .row
      .col-sm-5=raw @input_markup_preprocessed
      %i.fa.fa-5x.fa-chevron-circle-right.col-sm-2.c-mid
      .col-sm-5=raw @input_markup_postprocessed
    %h3 Input Styles
    .row
      .col-sm-12=raw @input_styles

%hr

.row
  .col-sm-6
    .well=raw @dom_output.map(&:path).join("<br />")
