/ http://www.techdarkside.com/adding-drag-and-drop-file-uploads-to-rails-3-1-with-filedrop-and-paperclip
.row
  .col-sm-12
    %h4 Drag files here
    %i.fa.fa-cloud-upload.fa-3x
    = form_tag '/uploads', multipart: true, id: :fileupload do
      / The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
      .row.fileupload-buttonbar
        .span7
          / The fileinput-button span is used to style the file input field as button
          %span.btn.btn-success.fileinput-button
            %i.icon-plus.icon-white
            %span Add files...
            = file_field_tag :upload
          %button.btn.btn-primary.start{type: :submit}
            %i.icon-upload.icon-white
            %span Start upload
          %button.btn.btn-warning.cancel{type: :reset}
            %i.icon-ban-circle.icon-white
            %span Cancel upload
          %button.btn.btn-danger.delete{type: :button}
            %i.icon-trash.icon-white
            %span Delete
          %input.toggle{type: :checkbox}
        .span5
          / The global progress bar
          .progress.progress-success.progress-striped.active.fade
            .bar{style: "width:0%;"}
      / The loading indicator is shown during image processing
      .fileupload-loading
      %br
      / The table listing the files available for upload/download
      %table.table.table-striped
        %tbody.files{data: {toggle: 'modal-gallery', target: '#modal-gallery'}}

.row
  .col-sm-12
    %h3 Output

.row
  .col-sm-6=raw @shl_rendered_html
  .col-sm-6=raw @rendered_html

%hr

.row
  .col-sm-12
    %h3 Input Markup
    .row
      .col-sm-5=raw @shl_input_markup_raw
      %i.fa.fa-5x.fa-chevron-circle-right.col-sm-2.c-mid
      .col-sm-5=raw @shl_input_markup_to_html
    %h3 Input Styles
    .row
      .col-sm-5=raw @shl_input_styles_raw
      %i.fa.fa-5x.fa-chevron-circle-right.col-sm-2.c-mid
      .col-sm-5=raw @shl_input_styles_to_css
