.container
  %nav.navbar.navbar-inverse.navbar-default{role: :navigation}
    .navbar-header
      =link_to '#', class: 'navbar-brand' do
        =image_tag 'xd-logo-bw.png', height: '30'
  .row
    .col-sm-12
      %h3 Output

  .row
    .col-sm-6=raw @output_html_colored
    .col-sm-6=raw @output_html

  %hr

  .row
    .col-sm-12
      %h3 Input
      .row
        .col-sm-6=raw @input_html
        .col-sm-6=raw @input_css
