%h2.testclass.hotdog#testid This is an h2 tag
%h2.hotdog.testclass Some text
%h2 More stuff
%h2 Even more junk
%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
%p.red Bacon
%h1.red
  Fart
  %span.test farfegnoogen

.crazydiv#yep
  %h1
    This should be
    %span.red
      red
  %p.red
    This should be red, too
    %span.red So should this.
