.container
  %nav.navbar.navbar-inverse.navbar-default{role: :navigation}
    .navbar-header
  .row
    .col-sm-12
      %h3 Output

  .row
    .col-sm-6 blah blah blah
    .col-sm-6 some more text

  %hr

  .row
    .col-sm-12
      %h3 Input
      .row
        .col-sm-6 some text
        .col-sm-6 some text
