.container
  %nav.navbar.navbar-inverse.navbar-default{role: :navigation}
    .navbar-header
      =link_to 'XD Mail Compiler', '#', class: 'navbar-brand'
  .row
    .col-sm-12
      %h3 Output

  .row
    .col-sm-6=raw @output_html
    .col-sm-6
      .well.well-sm
        -doc = CSSPool.CSS open("app/assets/stylesheets/test.css")
        -doc.rule_sets.each do |rule_set|
          -rule_set.selectors.each do |selector|
            =selector
          -rule_set.declarations.each do |declaration|
            =declaration
          %br

  %hr

  .row
    .col-sm-12
      %h3 Input
      .row
        .col-sm-6=raw @input_html
        .col-sm-6=raw @input_css
