.container
  %nav.navbar.navbar-inverse.navbar-default{role: :navigation}
    .navbar-header
      =link_to 'XD Mail Compiler', '#', class: 'navbar-brand'
  .row
    .col-sm-12
      %h3 Output

  .row
    .col-sm-6=raw @output_html_colored
    .col-sm-6=raw @output_html

  %hr

  .row
    .col-sm-12
      %h3 Input
      .row
        .col-sm-6=raw @input_html
        .col-sm-6=raw @input_css
