-content_for :javascripts do
  =javascript_include_tag 'campaign_show'

#dropzone
  .row
    %h4.col-sm-9 Upload files by dragging them onto this dotted area
    #progress-target.col-sm-3

=form_tag select_resource_campaigns_path, remote: true do
  .row
    -{image: 'picture-o', markup: 'code', stylesheet: 'leaf'}.each do |resource_type, icon|
      .col-sm-4.resources{id: "#{resource_type}_resources"}
        %h4
          %i{class: "fa fa-#{icon}"}
          #{resource_type.to_s.capitalize} Resources
        %table.table.table-striped.table-condensed
          %tbody
            -@campaign.resources.send((resource_type.to_s.pluralize)).each do |resource|
              =render partial: "resource_row", locals: {resource: resource, resource_type: resource_type}
.row
  %h3.col-sm-9 Output
  = link_to preflight_for_email_on_acid_exports_path, {class: 'col-sm-3 btn btn-xs btn-default'} do
    Export resources for
    %br
    =image_tag 'eoa-favicon.png'
    Email on Acid

.row
  .col-sm-6#compiled-source-preview
  .col-sm-6#compiled-browser-preview
