/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.l-top{ vertical-align: top;    text-align: left;   }
.c-top{ vertical-align: top;    text-align: center; }
.r-top{ vertical-align: top;    text-align: right;  }
.l-mid{ vertical-align: middle; text-align: left;   }
.c-mid{ vertical-align: middle; text-align: center; }
.b-mid{ vertical-align: middle; text-align: right;  }
.l-bot{ vertical-align: bottom; text-align: left;   }
.c-bot{ vertical-align: bottom; text-align: center; }
.r-bot{ vertical-align: bottom; text-align: right;  }