// Place all the styles related to the compiler controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar{
  margin: 0;
 
  a.navbar-brand {
    padding-top: .5em;
  }
 
}



#dropzone{
  padding: .5em;
  border-radius: 1em;
  border: 3px dashed #aca;

  div, form#dropzone-form, a{
    pointer-events: none;
  }

  input#upload{
    position: absolute;
    cursor: pointer;
    // opacity: 0;
    // top:0;
    // padding: .5em;
    // width: 0px;
  }
  .assets{
    max-height: 12em;
    overflow-y: scroll;
  }
}
