// Place all the styles related to the compiler controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar{
  margin: 0;
 
  a.navbar-brand {
    padding-top: .5em;
  }
 
}

.assets{
  ul{
    margin: 0;
    list-style-position: inside;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
  }
}

input#upload{
  position: absolute;
  cursor: pointer;
  // opacity: 0;
  top:0;
  // padding: .5em;
  width: 0px;
}