h1 {
  color:red;
  font-weight: bold;
}
h2 {
  color:blue;
}
h2.testclass{
  background: wheat;
}
.hotdog{
  border: 2px dashed lime;
}
#yep{
  margin-bottom:10em;
}
h2#testid{
  font-style: italic;
}
p {
  color:green;
}

.some-class #some-id{
  font-weight: bold;
  border:1px solid red;
}
