h2.testclass,
h2.walrus {
  color: aqua;
  font-weight: bold;
}
h2 {
  color:blue;
}
.crazydiv h1{
  color: purple;
}
h1{
  /*color:green;*/
}

h2.testclass{
  background: wheat;
}
.hotdog{
  border: 2px dashed lime;
}

.red{
  color: red;
}

#yep{
  /*margin-bottom:10em;*/
  /*
    MULTIPLE IDs ON ONE ELEMENT FAILS
    HTML - first wins out
    HAML - last wins out
  */
}
h2#testid{
  font-style: italic;
}
p {
  color: mauve;
}

.some-class #some-id{
  font-weight: bold;
  border:1px solid red;
}

.crazydiv{
  /* color: yellow; */
  /*
    color: green;
    text-decoration:underline;
  */
}
